body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-repeat: no-repeat;
  background-size: auto; */
}

.title {
  /* color: #fff; */
  font-size: 4rem;
}

.clock {
  /* color: #fff; */
  font-size: 2rem;
}

.login-form {
}

.login-form input {
  background-color: #fff;
}

.hidden {
  display: none;
}
