body {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  color: #fff;
  font-weight: 600;
  font-size: 1.2rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  height: 10vh;
}

header > .weather-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

main {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer {
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
}
.title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  margin-bottom: 0px;
}

.clock {
  font-size: 2rem;
  margin-bottom: 0px;
}

.input-common {
  border: none;
  border-bottom: 2px solid #fff;
  background-color: transparent;
  outline: none;
  color: #fff;
}
.login-input {
  height: 2rem;
  width: 14rem;
  margin-top: 0.6rem;
  text-align: center;
  font-size: 1rem;
}

.todo-input {
  height: 2rem;
  width: 16rem;
  margin-top: 0.6rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
}

.hidden {
  display: none;
}
